* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	height: 100%;
}

body {
	padding: 10px;
	margin:0;
	width: 100%;
	font-size: 12px;
	font-family: 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
	background-color: white;
}